* {
  padding:0;
  margin:0;
  box-sizing:border-box;
}


body {
  background-color: black;
}

div#board {
  position: relative;
  width: 700px;
  margin:0 auto;
  background:url("../assests/circle.png");
  background-repeat:no-repeat;
  background-size:100%;
  background-position:center;

}

div#messageArea {
  
  
  color: rgb(83, 175, 19);
}

.table-container {
  margin-top:30px;
  display:flex;
  
}

.table-container ul li{
  list-style:none;
  color:#fff;
  width: 60px;
  height: 60px;
  text-align:center;
  line-height:60px;
  font-family:san-serif;
}



div#board ul#num {
  margin-left:50px;
  list-style:none;
  
}

div#board ul#num::after {
  content:"";
  display:block;
  clear:both;
  
}

div#board ul#num li{
  float:left;
  color:#fff;
  width: 60px;
  height: 60px;
  text-align:center;
  line-height:60px;
  font-weight:bold;
  font-family:san-serif;
}


table {
 
  border-spacing: 0px;
}

td {
  width: 60px;
  height: 60px;
  border: 1px solid #fff;
}

form {
  margin-left:50px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
  width:300px;
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
  padding:3px 5px;
}

.hit {
  background-image: url("Hits.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  width: 50px;
  height: 50px;
}

.miss {
  background-image: url("Miss.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.ship {
  background-image: url("ship.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 50px;
  height: 50px;
}
