body {
  background-color: black;
}

div#board {
  position: relative;
  width: 100%;
  height: 100vh;
  margin: auto;
  background: url("board.jpg") no-repeat;
}

div#messageArea {
  position: absolute;
  top: 0px;
  left: 0px;
  color: rgb(83, 175, 19);
}

table {
  position: absolute;
  left: 5px;
  top: 50px;
  border-spacing: 0px;
}

td {
  width: 50px;
  height: 50px;
  border: 1px solid #fff;
}

form {
  position: absolute;
  bottom: 0px;
  left: 0px;
  padding: 15px;
  background-color: rgb(83, 175, 19);
}

form input {
  background-color: rgb(152, 207, 113);
  border-color: rgb(83, 175, 19);
  font-size: 1em;
}

.hit {
  background-image: url("Hits.png");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 90%;
  width: 50px;
  height: 50px;
}

.miss {
  background-image: url("Miss.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 50px;
  height: 50px;
}

.ship {
  background-image: url("ship.png");
  background-repeat: no-repeat;
  background-size: 90%;
  background-position: center center;
  width: 50px;
  height: 50px;
}
